@font-face {
  font-family: 'Molle';
  src: url(../css/Molle/Molle-Italic.ttf);
}

@font-face {
  font-family: 'Light';
  src: url(../css/light.ttf);
}

@font-face {
  font-family: 'Heavy';
  src: url(../css/heavy.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  background: #081221;
  overflow-x: hidden !important;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

section {
  height: 100vh;
  position: relative;
  color: #FCF7F8;
  scroll-snap-align: start;
  text-align: center;
}

@-webkit-keyframes showTopText {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes showTopText {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  height: 100%;
  left: 30%;
  position: absolute;
  top: 35vh;
  width: 50%;
}

.animated-title > div {
  height: 12em;
  overflow: hidden;
  position: absolute;
  width: 75vh;
}

.animated-title > div div {
  font-family: Molle, Arial, sans-serif;
  font-size: 10em;
  padding-right: 1em;
  position: absolute;
  color: #FCF7F8;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top div {
  -webkit-animation: showTopText 1.6s;
          animation: showTopText 1.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.text-block {
  position: absolute;
  top: 52%;
  left: 67%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.paragraph {
  font-size: 1.8em;
  font-family: Light;
  line-height: 1.7em;
  width: 23em;
  text-align: left;
}

.scrolling-text {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  transition: -webkit-transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83), -webkit-transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.scrolling-text .scrolling-text-content {
  color: #FCF7F8;
  font-family: Heavy;
  font-size: 120px;
  opacity: 0.03;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  transition: -webkit-transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83), -webkit-transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  line-height: 1em;
  margin: 20px 0;
}

.about {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.contact {
  position: absolute;
  top: 66%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60em;
  height: 40em;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 60em;
  height: 40em;
  z-index: 1;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: -60em;
  width: 10000px;
}

.slides.shifting {
  -webkit-transition: left .2s ease-out;
  transition: left .2s ease-out;
}

.slide {
  width: 60em;
  height: 40em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .7s;
  transition: all .7s;
  position: relative;
  background: #081221;
  border-radius: 2px;
}

.slider.loaded .slide:nth-child(2),
.slider.loaded .slide:nth-child(7) {
  background: #062650;
}

.slider.loaded .slide:nth-child(1),
.slider.loaded .slide:nth-child(3) {
  background: #12486d;
}

.slider.loaded .slide:nth-child(4) {
  background: #0e3d5c;
}

.control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #FCF7F8;
  border-radius: 50px;
  margin-top: -20px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: -20px;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: -20px;
}

.prev:active,
.next:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#icon-location {
  margin-left: 22em;
}

.socials {
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-top: 23em;
  padding: 3em;
  vertical-align: middle;
}

#email {
  width: 11.9em;
}

#linkedin {
  width: 13.7em;
}

#github {
  width: 12.1em;
}

#stack {
  width: 12.6em;
}
/*# sourceMappingURL=style.css.map */