// Colours 
$background: #081221;
$text: #FCF7F8;

// Fonts
@font-face {
    font-family: 'Molle';
    src: url(../css/Molle/Molle-Italic.ttf);
}
@font-face {
    font-family: 'Light';
    src: url(../css/light.ttf);
}
@font-face {
    font-family: 'Heavy';
    src: url(../css/heavy.ttf);
}